@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  line-height: calc(1em + 0.75rem);
  -webkit-font-smoothing: antialiased;
}

@layer base {
  :root {
    --color-text: 222deg 22% 5%;
    --color-background: 0deg 0% 100%;
    --color-primary: 245deg 100% 60%;
    --color-secondary: 333deg 100% 45%;
    --color-tertiary: 255deg 85% 30%;
    --color-decorative: 200deg 75% 65%;
    --color-muted: 210deg 55% 92%;
    /* --color-muted-background: 210deg 55% 92% / 0.85; */
    --color-info: 245deg 100% 60%;
    --color-success: 160deg 100% 40%;
    /* --color-success-background: 160deg 100% 40% / 0.1; */
    --color-error: 340deg 95% 50%;
    /* --color-error-background: 340deg 95% 43% / 0.1; */
    --color-alert: 37deg 100% 50%;
    /* --color-alert-background: 52deg 100% 50% / 0.25; */
    --color-venn-0: 190deg 100% 65%;
    --color-venn-1: 340deg 100% 65%;
    --color-gray-100: 225deg 25% 95%;
    --color-gray-200: 225deg 16% 90%;
    --color-gray-300: 225deg 8% 80%;
    --color-gray-400: 225deg 8% 70%;
    --color-gray-500: 225deg 7% 60%;
    --color-gray-600: 225deg 15% 50%;
    --color-gray-700: 225deg 12% 40%;
    --color-gray-900: 225deg 25% 20%;
    --color-gray-1000: 225deg 15% 15%;
    --color-subtle-background: 225deg 25% 95%;
    --color-subtle-floating: 0deg 0% 100%;
    --color-homepage-light: 204deg 67% 85%;
    --color-homepage-dark: 202deg 71% 90%;
    --color-homepage-bg: 204deg 67% 85%;
    --color-syntax-bg: 225deg 25% 97%;
    --color-syntax-highlight: 225deg 25% 93%;
    --color-syntax-txt: 210deg 0% 16%;
    --color-syntax-comment: 203deg 35% 40%;
    --color-syntax-prop: 320deg 100% 43%;
    --color-syntax-bool: 296deg 100% 36%;
    --color-syntax-val: 197deg 15% 49%;
    --color-syntax-str: 248deg 100% 60%;
    --color-syntax-name: 276deg 100% 50%;
    --color-syntax-del: 0deg 100% 67%;
    --color-syntax-regex: 252deg 100% 43%;
    --color-syntax-fn: 216deg 100% 53%;
    --prefers-dark: false;
  }
  body {
    @apply text-base bg-white;
  }
  p {
    font-size: 21px;
    line-height: 32px;
  }
  /* a {
    color: rgb(113, 86, 217);
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  } */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: rgb(47, 53, 63);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol {
    margin: 0px;
  }
  h1 {
    font-size: 56px;
    line-height: 1.14286;
    font-weight: 700;
  }
  h2 {
    font-size: 38px;
    line-height: 1.21053;
    font-weight: 700;
  }
  h3 {
    font-size: 28px;
    line-height: 1.28571;
  }
  code {
    padding: 0.1em 0.3em;
    border-radius: 0.3em;
    font-size: 0.9em;
    color: rgb(242, 92, 193);
    background-color: rgb(235, 238, 240);
  }
  ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  .hit-list {
    padding-inline-start: 0px !important;
  }
  blockquote {
    padding: 0px 2rem;
    position: relative;
    font-style: italic;
    color: var(--color-gray-700);
    margin-top: 48px;
    margin-bottom: 48px;
    width: fit-content;
  }
  blockquote::before {
    content: '“';
    font-family: 'Times New Roman', serif;
    font-size: 6em;
    font-weight: bold;
    position: absolute;
    left: -8px;
    top: 4px;
    opacity: 0.25;
  }
  blockquote::after {
    content: '”';
    font-family: 'Times New Roman', serif;
    font-size: 6em;
    font-weight: bold;
    position: absolute;
    right: 0px;
    top: 4px;
    opacity: 0.25;
  }
  image,
  video,
  iframe {
    max-inline-size: 100%;
    block-size: auto;
  }
}

@layer components {
  .portfolio-navigation-item {
    @apply px-2 py-2 font-medium opacity-0 cursor-pointer text-small hover:text-green;
  }
  .styled-btn {
    @apply py-5 text-sm font-medium border rounded cursor-pointer mt-14 px-7 text-green border-green hover:animate-fadeInButton font-sfmono;
  }
  .portfolio-navigation-item-sm {
    @apply px-2 py-2 text-xl font-medium opacity-100 cursor-pointer hover:text-green;
  }
}

@layer utilities {
  .center {
    @apply absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2;
  }

  .error-message {
    @apply mt-2 text-sm text-red-500;
  }

  .heading-2 {
    @apply uppercase tracking-[2px] text-secondary text-base font-medium;
  }
}

.animation-delay-100 {
  animation-delay: 100ms;
}

.animation-delay-200 {
  animation-delay: 200ms;
}

.animation-delay-300 {
  animation-delay: 300ms;
}

.animation-delay-400 {
  animation-delay: 400ms;
}

.animation-delay-1600 {
  animation-delay: 1600ms;
}

.animation-delay-1700 {
  animation-delay: 1700ms;
}

.animation-delay-1800 {
  animation-delay: 1800ms;
}

.animation-delay-1900 {
  animation-delay: 1900ms;
}

.animation-delay-2000 {
  animation-delay: 2000ms;
}

.animation-delay-2s3 {
  animation-delay: 2.3s;
}

.vertical-rl {
  writing-mode: vertical-rl;
}

.skill-item::before {
  content: '▹';
  left: 0px;
  padding-right: 4px;
  color: #64ffda;
  font-size: 14px;
  line-height: 12px;
}

.animate-slideIn {
  transform: translateX(0);
  transition: 1s ease-in-out;
}

.animate-slideOut {
  transition: 1s ease-in-out;
}

@font-face {
  font-family: 'Calibre';
  src: url(/fonts/Calibre-Medium.woff2);
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Calibre';
  src: url(/fonts/Calibre-Regular.woff2);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url(/fonts/Calibre-Semibold.woff2);
  font-style: bold;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'SF Mono';
  src: url(/fonts/SFMono-Regular.woff2);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
