@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-base bg-white;
  }
}

@layer components {
  .portfolio-navigation-item {
    @apply px-2 py-2 font-medium opacity-0 cursor-pointer text-small hover:text-green;
  }
  .styled-btn {
    @apply py-5 text-sm font-medium border rounded cursor-pointer mt-14 px-7 text-green border-green hover:animate-fadeInButton font-sfmono;
  }
  .portfolio-navigation-item-sm {
    @apply px-2 py-2 text-xl font-medium opacity-100 cursor-pointer hover:text-green;
  }
}

@layer utilities {
  .center {
    @apply absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2;
  }
}

.animation-delay-100 {
  animation-delay: 100ms;
}

.animation-delay-200 {
  animation-delay: 200ms;
}

.animation-delay-300 {
  animation-delay: 300ms;
}

.animation-delay-400 {
  animation-delay: 400ms;
}

.animation-delay-1600 {
  animation-delay: 1600ms;
}

.animation-delay-1700 {
  animation-delay: 1700ms;
}

.animation-delay-1800 {
  animation-delay: 1800ms;
}

.animation-delay-1900 {
  animation-delay: 1900ms;
}

.animation-delay-2000 {
  animation-delay: 2000ms;
}

.animation-delay-2s3 {
  animation-delay: 2.3s;
}

.vertical-rl {
  writing-mode: vertical-rl;
}

.skill-item::before {
  content: '▹';
  left: 0px;
  padding-right: 4px;
  color: #64ffda;
  font-size: 14px;
  line-height: 12px;
}

@font-face {
  font-family: 'Calibre';
  src: url(../public/fonts/Calibre-Medium.woff2);
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Calibre';
  src: url(../public/fonts/Calibre-Regular.woff2);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url(../public/fonts/Calibre-Semibold.woff2);
  font-style: bold;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'SF Mono';
  src: url(../public/fonts/SFMono-Regular.woff2);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
